react-fundamentals/node_modules
react-fundamentals/.gitignore
react-fundamentals/package-lock.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react-fundamentals/node_modules
react-fundamentals/.pnp
react-fundamentals/.pnp.js

# testing
react-fundamentals/coverage

# production
react-fundamentals/build

# misc
react-fundamentals/.DS_Store
react-fundamentals/.env.local
react-fundamentals/.env.development.local
react-fundamentals/.env.test.local
react-fundamentals/.env.production.local

react-fundamentals/npm-debug.log*
react-fundamentals/yarn-debug.log*
react-fundamentals/yarn-error.log*
